*{
    font-family: "Barlow Semi Condensed", sans-serif;
}
body{
    background: hsl(214, 17%, 92%);
    display: flex;
    word-wrap: break-word;
    gap: 15px;
}
/* one */
.container{
    height: 300px;
    width: 700px;
    background: hsl(263, 55%, 52%);
    border-radius: 15px;
    padding: 10px;
    color: hsl(260, 100%, 95%);
    text-wrap: wrap;
    box-shadow: 10px 10px 20px hsl(224, 10%, 45%);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.kiri img{
    border-radius: 50%;
}
.text {
    font-size: 1.1em;
}
.bold{
    font-size: 1.2em;
    font-weight: bold;
}
/* two */
.container-two{
    height: 300px;
    width: 300px;
    background: hsl(217, 19%, 35%);
    border-radius: 15px;
    padding: 10px;
    color: hsl(260, 100%, 95%);
    text-wrap: wrap;
    box-shadow: 10px 10px 20px hsl(224, 10%, 45%);
}