body{
    background: #201d5b;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 400px;
    width: 700px;
    background: #1ed4d4;
    border-radius: 20px;
}